<% include ./partials/header %>
<!-- ______^partial header^______navbar location____________________________-->


<div class="ui main container segment">
    <div class="ui huge header">
        <%= blog.title %>
    </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>"/>
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <!-- <%= blog.body %> -->
                <%- blog.body %> <!-- will run as code, not as text  -->
            </div>
        </div>
    </div>
</div>



<!-- _____________________________partial footer___________________________ -->
<% include ./partials/footer %>
